/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */

:root {
    /* JS DYNAIMC VARS */
    --p-x: 0;
    --p-y: 0;
    --wrapperLeftPosition: 0;
    --wrapperHeight: 0;
    --wrapperWidthDynamic: 0;

    /* CSS STATIC VARS */
    --wrapperWidth: 1536px;
}



body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    user-select: none;

}

.wrapper {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-image: url('../assets/img/back.jpg');
    background-size: var(--wrapperWidth), auto;
    background-repeat: no-repeat;
    height: var(--wrapperHeight);
    /* width: 100vw; */
    width: var(--wrapperWidthDynamic);
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    left: var(--wrapperLeftPosition);
    overflow-x: hidden;
}

header,
main,
.night,
.back {
    margin: 0px;
    padding: 0px;
    width: var(--wrapperWidth);
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    bottom: 0px;

}

header {
    opacity: 0;


}

.back {
    background-color: #000
}

.sign {
    display: none;
    background-image: url(../assets/img/never.png);
    width: 157px;
    height: 132px;
    position: absolute;
    bottom: 526px;
    left: 459px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.night {
    transition: opacity 2s, mask 1s, -webkit-mask 1s;
    opacity: 0;
    height: var(--wrapperHeight);
    background-color: hsla(0, 0%, 0%, .95);
    cursor: none;

}

.nigt-masked {
    mask: radial-gradient(circle at var(--p-x) var(--p-y),
            transparent 3%,
            black 13%);
    -webkit-mask: radial-gradient(circle at var(--p-x) var(--p-y),
            transparent 3%,
            black 13%);

}

.caratule {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 25;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.caratule>span {
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    font-size: 6.5vw;
    text-transform: uppercase;
    text-align: center;
}

.caratule>.caratule-title {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.caratule>span>span {
    color: #00d8e7
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*contenidors dels ulls*/
header>div,
main>div {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    width: 100px;
    height: 50px;

}

/*cada un dels contenidors dels ulls*/

header>div:nth-child(1),
main>div:nth-child(1) {

    left: calc(var(--wrapperLeftPosition) + 227px);
    bottom: 433px;
    scale: 0.60;

}

header>div:nth-child(2),
main>div:nth-child(2) {

    left: calc(var(--wrapperLeftPosition) + 110px);
    bottom: 589px;
    scale: 0.75;


}

header>div:nth-child(3),
main>div:nth-child(3) {

    left: calc(var(--wrapperLeftPosition) + 323px);
    bottom: 153px;
    scale: 1.2;
}

header>div:nth-child(4),
main>div:nth-child(4) {

    left: calc(var(--wrapperLeftPosition) + 40px);
    bottom: 241px;
    scale: 0.9;
}

header>div:nth-child(5),
main>div:nth-child(5) {

    left: calc(var(--wrapperLeftPosition) + 624px);
    bottom: 203px;
    scale: 0.9;
}

header>div:nth-child(6),
main>div:nth-child(6) {

    left: calc(var(--wrapperLeftPosition) + 673px);
    bottom: 464px;
    scale: 0.6;
}

header>div:nth-child(7),
main>div:nth-child(7) {

    left: calc(var(--wrapperLeftPosition) + 850px);
    bottom: 893px;
    scale: 0.6;

}

header>div:nth-child(8),
main>div:nth-child(8) {

    left: calc(var(--wrapperLeftPosition) + 1073px);
    bottom: 679px;
    scale: 0.4;

}

header>div:nth-child(9),
main>div:nth-child(9) {

    left: calc(var(--wrapperLeftPosition) + 1280px);
    bottom: 589px;
    scale: 1.2;
}

header>div:nth-child(10),
main>div:nth-child(10) {

    left: calc(var(--wrapperLeftPosition) + 964px);
    bottom: 297px;
    scale: 1.2;

}

header>div:nth-child(11),
main>div:nth-child(11) {

    left: calc(var(--wrapperLeftPosition) + 294px);
    bottom: 876px;
    scale: 0.5;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/*monstres*/
header>div::before {
    width: 180%;
    height: 360%;
    content: " ";
    position: absolute;
    background-size: 100%;
    z-index: -1;
}

/*cada monstre*/
header div:nth-child(1)::before {
    background-image: url(../assets/img/m1.png);
    left: -42px;
    top: -34px;
    scale: 1;
}

header div:nth-child(2)::before {
    background-image: url(../assets/img/m2.png);
    left: -39px;
    top: -38px;
    scale: 1.3;
}

header div:nth-child(3)::before {
    background-image: url(../assets/img/m3.png);
    left: -42px;
    top: -26px;
    scale: 1.5;
}

header div:nth-child(4)::before {
    background-image: url(../assets/img/m4.png);
    left: -41px;
    top: -47px;
    scale: 1.2;
}

header div:nth-child(5)::before {
    background-image: url(../assets/img/m5.png);
    left: -41px;
    top: -47px;
    scale: 1.2;
}

header div:nth-child(6)::before {
    background-image: url(../assets/img/m6.png);
    left: -37px;
    top: -43px;
    scale: 1.3;

}

header div:nth-child(7)::before {
    background-image: url(../assets/img/m7.png);
    left: -40px;
    top: -26px;
    scale: 1.4;

}

header div:nth-child(8)::before {
    background-image: url(../assets/img/m8.png);
    left: -40px;
    top: -26px;
    scale: 1.4;

}

header div:nth-child(9)::before {
    background-image: url(../assets/img/m9.png);
    left: -40px;
    top: -26px;
    scale: 1.4;

}

header div:nth-child(10)::before {
    background-image: url(../assets/img/m10.png);
    left: -39px;
    top: -7px;
    scale: 2.4;

}

header div:nth-child(11)::before {
    background-image: url(../assets/img/m11.png);
    left: -39px;
    top: -36px;
    scale: 1.2;

}

/*---------------------------------------------------------------------------------------------------------------------------*/
/*blank dels ulls*/

main>div>div {
    margin: 0px;
    padding: 0px;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 0%;
    width: 44%;
    background: #CCC;
    border: #000 solid 2px;
    overflow: hidden;
    transition: height 0.15s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1.5);
}


/*boles dels ulls*/
main>div>div div {
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
}


/*CADA UNA DELS BLANCS I BOLES*/
/*RECIPIENT ULLS*/
/* main>div:nth-child(1) {

    
} */
/*BLANC*/
/* main>div:nth-child(1)>div {

    border: #000 solid 1px;

    background: rgb(255, 217, 209);
    background: radial-gradient(circle, rgba(255, 217, 209, 1) 0%, rgba(223, 169, 160, 1) 57%, rgba(125, 23, 8, 1) 77%);
} */

/*BOLES*/
/* main>div:nth-child(1)>div>div {
    width: 10px;
    height: 10px;
    border: #000 solid 1px;
    background-color: rgb(143, 24, 24);
} */


/* 
.eyeball {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: relative;
} */